 {% extends "base_generic.html" %}

    <!-- s-content
    ================================================== -->
    {% block content %}
    <section class="s-content">
        
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                {% for new in news %}
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="single-standard.html">{{new.date}}</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html">{{new.title}}</a></h1>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{new.intro}}
                            </p>
                        </div>
                    </div>
    
                </article> <!-- end article -->
                {% endfor %}
                

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        <div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- s-content -->
    {% endblock %}
